body {
  font-family: 'Public Sans', sans-serif; }

a {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5); }

a:hover, a:visited {
  text-decoration: none;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.7); }

/*Flex box*/
.flex {
  display: flex; }
  .flex-ai-c {
    align-items: center; }
  .flex-jc-sb {
    justify-content: space-between; }
  .flex-column {
    flex-direction: column; }
  .flex-row {
    flex-direction: row; }

/*flex box*/
.footer {
  display: flex;
  justify-content: center; }

.footer > a {
  font-size: 24px;
  padding: 0 4px 0 4px; }
