a, a:hover {
    text-decoration: none;
    color: gray;
    cursor: pointer;
}
/*
    Device = Desktop,
    Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {

}
/*
    Device = Laptops,Desktop,
    Screen = Between 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {
}
/*
    Device = Tablets, Ipads(Portrait)
    Screen = between 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px){
}
/*
    Device = Tablets, Ipads(Landscape)
    Screen = between 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation:landscape) {
}
/*
    Device = Low resolution tablets and mobile (Landspace),
    Screen = b/w 481px to 767px
*/
@media (min-width:481px) and (max-width: 767px) {

}
/*
    Device = Most of the smarphones(portrait),
    Screen = b/w 320px to 480px
*/
@media (min-width:320px) and (max-width: 480px) {
}
@media (max-width: 768px) {
    .hide_for_mobile {
        display: none;
    }
}

@media (min-width: 769px) {
    .hide_for_desktop {
        display: none;
    }
}

.header {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.header__logo > img {
    height: 50px;
    width: 50px;
}

.header__link {
    margin: 5px 15px;
}

.header__hamburger > span {
    cursor: pointer;
    width: 35px;
    height: 2px;
    background-color: gray;
    display: block;
}

    .header__hamburger > span:not(:last-child) {
        margin-bottom: 5px;
    }
